*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@media only screen (max-width: 600px;) {
        body{
    height: 100vh;
    width: 100wh;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    }
}
li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
nav{
     display: flex;
     gap: 0%;
}
.logo{
    margin-top: 1%;
 1 margin-right: 25%;
  margin-left: 3%;
  margin-bottom: 2%;
}
.box{
   display: flex;
    width: 40%;
    height: 20%;
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 5%;
  
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 6%;
}
nav ul li:hover{
    text-decoration: underline;
    font-weight: 900;
}
.pwmain ul{
    display: flex;
    align-items: center;
    gap: 60px;
    font-weight: 500;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    margin-bottom: 1%;
}
.img{
    display: flex;
    
}